body,html,main{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-height: 580px;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

h1,h2,h3{
  margin: 0;
  padding: 0;
  border: 0;
}

.cText{
  text-align: center;
}

.rText{
  text-align: right;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.container{
  flex-wrap: wrap;
  display: flex;
}

.verticalContainer{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.grow{
  flex: 1;
}

.grow4{
  flex: 4;
}

.center{
  align-items: center;
  justify-content: center;
}

#header{
  height: 20%;
  min-height: 150px;
}

#menu{
  width: 270px;
  align-items: center;
}

.menuWidths{
  width: 250px;
}

.alg{
  font-size: .7em;
}

#demo{
  min-width: 630px;
}

#algContainer{
  min-width: 630px;
  min-height: 400px;
}
