body,html,section,main{
  font-family: 'Martel', Times, 'Times New Roman', serif;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.container{
  display: flex;
}

#menu{
  width: 250px;
}

#demo{
  flex-grow: 1;
}
